HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.jpb
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
### ENV ###
.env*


### Jenv ###
.java-version

.DS_Store
.minio_bucket*
.jqwik-database
.run